/*The Whole Enchilada Start*/

    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    body {
        background-color: #d9dcd6;
        width: 100;
    }

/*apply styles to header*/

    .header {
        padding: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-color: #2a607c;
        color: #ffffff;
        max-width: 100%;
    }

    .header h1 {
        display: inline-block;
        font-size: 48px;
    }

    .header h1 .seo {
        color: #d9dcd6;
    }

/*Navigation style*/

    .header nav {
        padding-top: 15px;
        margin-right: 20px;
        float: right;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
    }

    .header nav ul {
        list-style-type: none;
    }

    .header nav ul li {
        display: inline-block;
        margin-left: 25px;
    }
        
/*Basic stuff should probably go to the top*/

    a {
        color: #ffffff;
        text-decoration: none;
    }

    p {
        font-size: 16px;
    }

/* Hero Style Start */

    .hero {
        height:900px;
        width: 100%;
        margin-bottom: 20px;
        background-image: url("../images/digital-marketing-meeting.jpg");
        background-size: cover;
        background-position: center;
    }

/* Hero Style End */

    .float-left {
        float: left;
        margin-right: 25px;
    }

    .float-right {
        float: right;
        margin-left: 25px;
    }

    .content {
        display: inline-block;s
        margin: 20px 0px 20px 0px;
        width: 100%
    }

/*Style Linked START*/

    #linked{
        position: relative;
        float: left;
        margin: 20px 20px;
        width: 70%;
        line-height: 1.5;
    }

    .search-engine-optimization, .online-reputation-management, .social-media-marketing{
        margin-bottom: 20px;
        padding: 50px;
        height: 300px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: #0072bb;
        color: #ffffff;
    }

    .search-engine-optimization img, .online-reputation-management img, .social-media-marketing img{
        max-height: 200px;
    }

    .search-engine-optimization h2, .online-reputation-management h2, .social-media-marketing h2  {
        margin-bottom: 20px;
        font-size: 40px;
    }

/*Style Linked END*/

/*Side Banner Style START*/

    #benefits {
        position: relative;
        float: right;
        margin: 20px 20px 20px 10px;
        padding: 20px;
        width: 25%;
        border: 800px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: #2589bd;
        line-height: 1.5;
    }

    .benefit-lead, .benefit-brand, .benefit-cost{
        margin-bottom: 32px ;
        color: #ffffff;
    }

    .benefit-lead h3, .benefit-brand h3, .benefit-cost h3 {
        margin: 32 0 32 0;
        text-align: center;
    }

    .benefit-lead img, .benefit-brand img, .benefit-cost img{
        display: block;
        margin: 0 auto;
        max-width: 150px;
    }

/*Side Banner Style END*/

/*Footing Syle START*/

    .footer {
        padding: 30px;
        display: inline;
        clear: both;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
    }

    .footer h2 {
        font-size: 20px;
    }

/*Footing Syle END*/

/*End Enchilada*/